*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* style the header */
.header{
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #f1f1f1;
}
/* style the topnav links */
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 90px;
    text-decoration: none;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
div.topnav{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* create tree equal columns that floats next each other */
.column{
     float: left;
     width: 33.33%;
     padding: 15px;
}
/*  responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
     .column{
         width: 100%;
     }
}
h2{
     color: red;
     justify-content: center;
     align-items: center;
     font-family: 'Courier New', Courier, monospace;
}
p{
     font-family: 'Courier New', Courier, monospace;
     font-size: medium;
 }
